body{
    
}
.page-header{
    width: 100%;
    height: 100vh;
    
    position: fixed;
    top:0;
    left: 0;
}
.page-header h1{
    position: fixed;
    top:20px;
    left:50%;
    transform: translateX(-50%);
    z-index: 100;
    
    color: #80A142;
}
.page-header-background{
    width:100%;
    height: 100%;
    
    background-image: url(../img/mountain-bike-headerbgi.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center 30%;
    
    position: absolute;
    top:0;
    left:0;
}
.img-title,
.img-title2{
    position: absolute;
    color:white;
    font-family: tag2;
    font-size: 40px;
    
    bottom:-50%;
    left:50%;
    transform:translate(-50%);
    
     z-index: 50;
    
    opacity: 0;
    
    transition: .5s;
}
.img-title2{
    bottom:-40%;
}
.fullbike-img,
.htbike-img{
    
    -webkit-background-size: cover;
    background-size: cover;
    
    position: absolute;
    top:50%;
    z-index: 100;
    
    width:550px;
    height: 250px;
    
    
    transition: background-image .5s;
}
.htbike-img{
    background-image: url(../img/htbike.png);
    left:50%;
    transform: translateX(-120%); 
}
.htbike-img:hover{
    background-image: url(../img/htbike-hover.png);
    cursor: pointer;
}
.htbike-img:hover > .img-title{
    opacity: 1;
}
.fullbike-img{
    background-image: url(../img/fullbike.png);
    right: 50%;
    height: 300px;
    top:45%;
    transform: translateX(120%); 
}
.fullbike-img:hover{
    background-image: url(../img/fullbike-hover.png);
    cursor: pointer;
}
.fullbike-img:hover > .img-title2{
    opacity: 1;
}
.section{
    width:100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
}
h2{
    position: absolute;
    top:6%;
    left:50%;
    transform: translateX(-50%);
    font-family: tag2;
}
.htbike{
    margin-top: 100vh;
    position: relative;
    z-index: 200;
}