*{
    margin:0;
    padding: 0;
}
@font-face {
    font-family: title-font;
    src: url(../fonts/Takota.otf);
}

@font-face {
    font-family: underTitle-font;
    src: url(../fonts/Ailerons-Regular.otf);
}

@font-face {
    font-family: tag2;
    src: url(../fonts/VintageParty-FreeVersion.ttf);
}
h1,
h2,
h3 {
    font-family: title-font;
}

h1 {
    font-size: 80px;
    font-weight: 100;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}
.loading-page{
    width:100%;
    height: 100vh;
    background-color: black;
    z-index: 5000;
    
    position: fixed;
    top:0;
    left:0;
    
    font-family: title-font;
    color:white;
    font-size: 150px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}