.page-header-background{
    background-image: url(../img/road-bike-headerbgi.jpg);
    background-position: center 30%;
}
.htbike-img{
    background-image: url(../img/road-bike.png);
    height: 350px;
    top:40%;
}
.htbike-img:hover{
    background-image: url(../img/road-bike-hover.png);
}
.fullbike-img{
    background-image: url(../img/gravel.png);
    height:350px;
}
.fullbike-img:hover{
    background-image: url(../img/gravel-hover.png);
}